html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  height: 100%;
  color: #fbf0ea;
  position: relative;
}

.listview {
  height: 100%;
  width: 300px;
  background-color: #150a04;
}

h1 {
  margin: 0;
  padding: 25px 0;
  font-size: 1.5rem;
  text-align: center;
}

h1 a:hover {
  color: #150a04;
  background-color: #f2d1c0;
}

h1 a {
  padding: 6px;
  color: #fbf0ea;
  border: dotted 1.2px;
  text-decoration: none;
}

#location-search {
  position: relative;
  width: 250px;
  padding: 15px 0 15px 50px;
  font-size: 1.2rem;
  border: none;
  background: white url('magnifying-glass.png') 10px 10px no-repeat;
}

#location-search:focus {
  outline: none;
}

#location-list {
  margin: 0;
  padding: 0;
  color: #fbf0ea;
  font-size: 1.2em;
  list-style: none;
  text-decoration: none;
}

#location-list li {
  display: block;
  padding: 15px;
}

#location-list li:hover {
  color: #150a04;
  background-color: #f2d1c0;
}

#map {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  bottom: 0px;
  left: 300px;
  right: 0px;
}

.infowindow {
  margin: 0;
  padding: 0;
}
.infowindow h2 {
  margin: 0;
  padding: 5px;
  border-bottom: dotted 1px;
}

.infowindow ul {
  margin: 0;
  padding: 5px;
}

.infowindow ul .info-li {
  margin: 0;
  padding: 1px 5px;
  font-size: 1.1em;
  list-style: none;
}
